FXVAUU_1112/xPathFXVAUU/src/studentFXVAUU.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    elementFormDefault="qualified">

    <!-- Gyökérelem -->
    <xs:element name="class">
        <xs:complexType>
            <xs:sequence>
                <!-- Több student elem megengedett -->
                <xs:element name="student" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="keresztnev" type="xs:string" />
                            <xs:element name="vezeteknev" type="xs:string" />
                            <xs:element name="becenev" type="xs:string" />
                            <xs:element name="kor" type="xs:integer" />
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:ID" use="required" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>