FXVAUU_0924/FXVAUU_mozi.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT mozi (film)*>

<!ELEMENT film (rendezo+,szinesz+,iro+)>
<!ATTLIST film id ID #REQUIRED>
<!ATTLIST film mufaj (horror | romantikus | thriller) "horror">

<!ELEMENT rendezo EMPTY>
<!ATTLIST rendezo id ID #REQUIRED>
<!ATTLIST rendezo nev CDATA #IMPLIED>

<!ELEMENT szinesz EMPTY>
<!ATTLIST szinesz id ID #REQUIRED>
<!ATTLIST szinesz nev CDATA #IMPLIED>

<!ELEMENT iro EMPTY>
<!ATTLIST iro id ID #REQUIRED>