FXVAUU_1015/FXVAUU_XMLSchemaGPT.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    elementFormDefault="qualified">

    <!-- ===== Saját egyszerű típusok ===== -->

    <xs:simpleType name="nevTipus">
        <xs:restriction base="xs:string" />
    </xs:simpleType>

    <xs:simpleType name="varosTipus">
        <xs:restriction base="xs:string" />
    </xs:simpleType>

    <xs:simpleType name="utcaTipus">
        <xs:restriction base="xs:string" />
    </xs:simpleType>

    <xs:simpleType name="hazszamTipus">
        <xs:restriction base="xs:positiveInteger" />
    </xs:simpleType>

    <xs:simpleType name="csillagTipus">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="1" />
            <xs:maxInclusive value="5" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="eletkorTipus">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="16" />
            <xs:maxInclusive value="120" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="vegzettsegTipus">
        <xs:restriction base="xs:string" />
    </xs:simpleType>

    <xs:simpleType name="muszakTipus">
        <xs:restriction base="xs:string" />
    </xs:simpleType>

    <xs:simpleType name="datumTipus">
        <xs:restriction base="xs:string" />
    </xs:simpleType>

    <xs:simpleType name="idotartamTipus">
        <xs:restriction base="xs:string" />
    </xs:simpleType>

    <xs:simpleType name="osszegTipus">
        <xs:restriction base="xs:integer" />
    </xs:simpleType>

    <xs:simpleType name="etelTipus">
        <xs:restriction base="xs:string" />
    </xs:simpleType>

    <!-- ===== Komplex típusok ===== -->

    <!-- Cím -->
    <xs:complexType name="cimTipus">
        <xs:sequence>
            <xs:element name="varos" type="varosTipus" />
            <xs:element name="utca" type="utcaTipus" />
            <xs:element name="hazszam" type="hazszamTipus" />
        </xs:sequence>
    </xs:complexType>

    <!-- Étterem -->
    <xs:complexType name="etteremTipus">
        <xs:sequence>
            <xs:element name="nev" type="nevTipus" />
            <xs:element name="cim" type="cimTipus" />
            <xs:element name="csillag" type="csillagTipus" />
        </xs:sequence>
        <xs:attribute name="ekod" type="xs:ID" use="required" />
    </xs:complexType>

    <!-- Főszakács -->
    <xs:complexType name="foszakacsTipus">
        <xs:sequence>
            <xs:element name="nev" type="nevTipus" />
            <xs:element name="eletkor" type="eletkorTipus" />
            <xs:element name="vegzettseg" type="vegzettsegTipus" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute name="fkod" type="xs:ID" use="required" />
        <xs:attribute name="e_f" type="xs:IDREF" use="required" />
    </xs:complexType>

    <!-- Szakács -->
    <xs:complexType name="szakacsTipus">
        <xs:sequence>
            <xs:element name="nev" type="nevTipus" />
            <xs:element name="reszleg" type="xs:string" />
            <xs:element name="vegzettseg" type="vegzettsegTipus" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute name="szkod" type="xs:ID" use="required" />
        <xs:attribute name="e_sz" type="xs:IDREF" use="required" />
    </xs:complexType>

    <!-- Gyakornok -->
    <xs:complexType name="gyakornokTipus">
        <xs:sequence>
            <xs:element name="nev" type="nevTipus" />
            <xs:element name="gyakorlat">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="kezdete" type="datumTipus" />
                        <xs:element name="idotartama" type="idotartamTipus" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="muszak" type="muszakTipus" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute name="gykod" type="xs:ID" use="required" />
        <xs:attribute name="e_gy" type="xs:IDREF" use="required" />
    </xs:complexType>

    <!-- Vendég -->
    <xs:complexType name="vendegTipus">
        <xs:sequence>
            <xs:element name="nev" type="nevTipus" />
            <xs:element name="eletkor" type="eletkorTipus" />
            <xs:element name="cim" type="cimTipus" />
        </xs:sequence>
        <xs:attribute name="vkod" type="xs:ID" use="required" />
    </xs:complexType>

    <!-- Rendelés -->
    <xs:complexType name="rendelesTipus">
        <xs:sequence>
            <xs:element name="osszeg" type="osszegTipus" />
            <xs:element name="etel" type="etelTipus" />
        </xs:sequence>
        <xs:attribute name="e_v_e" type="xs:IDREF" use="required" />
        <xs:attribute name="e_v_v" type="xs:IDREF" use="required" />
    </xs:complexType>

    <!-- ===== Gyökérelem ===== -->

    <xs:element name="vendeglatas">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="etterem" type="etteremTipus" maxOccurs="unbounded" />
                <xs:element name="foszakacs" type="foszakacsTipus" maxOccurs="unbounded" />
                <xs:element name="szakacs" type="szakacsTipus" maxOccurs="unbounded" />
                <xs:element name="gyakornok" type="gyakornokTipus" maxOccurs="unbounded" />
                <xs:element name="vendeg" type="vendegTipus" maxOccurs="unbounded" />
                <xs:element name="rendeles" type="rendelesTipus" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>