FXVAUU_1008/FXVAUU_orarend1.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="ZZSG_orarend">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ora" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="targy" />
                            <xs:element name="idopont">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="nap" />
                                        <xs:element type="xs:byte" name="tol" />
                                        <xs:element type="xs:byte" name="ig" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element type="xs:string" name="helyszin" />
                            <xs:element type="xs:string" name="oktato" />
                            <xs:element type="xs:string" name="szak" />
                        </xs:sequence>
                        <xs:attribute type="xs:byte" name="id" use="optional" />
                        <xs:attribute type="xs:string" name="tipus" use="optional" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>